html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 0;
}

#map {
    height: calc(100% - 62px - 0.5rem);
}

.leaflet-interactive:focus {
    outline: none;
    stroke-width: 6;
}

.leaflet-custom-popup-box p {
    margin: 8px 0 !important;
}

#ul-migration-net {
    list-style-type: disc;
    padding-left: 16px;
    margin: 0;
}

#ul-migration-net li {
    margin: 8px 0;
}


line.line-horizontal.dashed {
    stroke: rgb(100, 100, 100) !important;
    stroke-dasharray: none !important;
}

#info-img {
    height: 32px;
    width: 32px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

#github-logo {
    height: 16px;
    margin: 0 4px;
}
